@import "colors";
@import "layout";
@import "icons";

body {
  background-color: antiquewhite;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
