$olive: rgba(168, 180, 0, 1); // PANTONE 583 C
$light-olive: rgba(216, 216, 186, 1); //PANTONE 5807 C

$olive-drab: rgba(115, 150, 0, 1); // PANTONE 377 C

$khaki: rgba(225, 222, 174, 1); // PANTONE 614 C

//...
$green: rgba(97, 135, 3, 1); // PANTONE 377 C ??? wrong

$burnt-wood: rgb(48, 49, 43);
