@font-face {
    font-family: 'ambulance_shotgunregular';
    src: url('/fonts/ambulance_shotgun/ambulance_shotgun-webfont.eot');
    src: url('/fonts/ambulance_shotgun/ambulance_shotgun-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ambulance_shotgun/ambulance_shotgun-webfont.woff2') format('woff2'),
         url('/fonts/ambulance_shotgun/ambulance_shotgun-webfont.woff') format('woff'),
         url('/fonts/ambulance_shotgun/ambulance_shotgun-webfont.ttf') format('truetype'),
         url('/fonts/ambulance_shotgun/ambulance_shotgun-webfont.svg#ambulance_shotgunregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rhesus_splats';
    src: url('/fonts/splats/WC_Rhesus_B_Bta-webfont.eot');
    src: url('/fonts/splats/WC_Rhesus_B_Bta-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/splats/WC_Rhesus_B_Bta-webfont.woff2') format('woff2'),
         url('/fonts/splats/WC_Rhesus_B_Bta-webfont.woff') format('woff'),
         url('/fonts/splats/WC_Rhesus_B_Bta-webfont.ttf') format('truetype'),
         url('/fonts/splats/WC_Rhesus_B_Bta-webfont.svg#wc_rhesus_b_btaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}