// Mostly targets 8-1/2 x 11 print media
@import "colors";
@import "bootstrap/variables";
$grid-gutter-width: 0;
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/buttons";
@import "bootstrap/close";
@import "bootstrap/grid";
@import "bootstrap/modals";
@import "bootstrap/responsive-utilities";

$res-fuchsia: lighten(fuchsia, 10%);
$res-cyan: rgb(75,225,255);
$cond-font: 'Cabin Condensed', sans-serif;
$sans-font: 'Gill Sans', 'Lato', sans-serif;


@mixin unlist() {
    list-style: none;
    margin: 0;
    padding: 0;
}
// copied from Foundation
@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

* {
    box-sizing: border-box;
}

body {
background: transparent;
    color: rgb(125, 125, 125);
    font-family: $sans-font;
}
a, a:visited {
    color: darken($res-cyan, 25%);
    text-decoration: none;

    &:hover {
        color: darken($res-cyan, 35%);
    }
}

.letter {
    background-color: white;
    margin: auto;
    overflow: hidden;

    @media print {
        height: 11in;
        width: 8.5in;
    }
}
.page {
//border: solid 1px rgba(175,175,175,0.5);
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}
.timeline {
    @include unlist();
    @include clearfix();
    background-color: $burnt-wood;
    width: 100%;

    & > li {
        border-right: dotted 1px lighten($burnt-wood, 50%);
        font-size: 15px;
        height: 30px;
        float: left;
        font-weight: 600;
        line-height: 30px;
        text-align: center;

        &.elip {
            line-height: 2;
        }

        &.past-year {
            // color
        }
        &.recent-year {
            color: white;
        }
        &.current-year {
            color: $res-cyan;
        }
        &.ad {
            color: white;
            float: right;
            padding-left: 30px;
            text-align: left;
        }

        @media (min-width: $screen-sm-min) {
            font-size: 25px;
            height: 50px;
            line-height: 55px;

            &.elip {
                line-height: 1.5;
            }
        }
    }
}
.position, .timeline {
    .ad {
        color: $res-cyan;
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 32px;
        text-align: center;

        .alt {
            color: $res-fuchsia;
        }
    }
}
.position {
    .ad {
        background-color: lighten($burnt-wood, 5%);
        border-color: rgba(lighten($burnt-wood, 50%), 0.6);
    }
}
.contact-card-cntr {
    &.bor {
        border-right-width: 0px;

        @media (min-width: $screen-sm-min) {
            border-right-width: 1px;
        }
    }
}
.contact-card {
    @include unlist();
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;

    .primary {
        color: lighten($burnt-wood, 10%);
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 28px;

        a {
            color: inherit;

            &:hover {
                color: $res-fuchsia;
            }
        }
    }
    .alt {
        color: lighten($burnt-wood, 35%);
        font-size: 30px;
        letter-spacing: -2px;
    }
    .emailat {
        &:before {
            content: '@';
            display: inline;
        }
    }
    small {
        color: lighten($burnt-wood, 35%);
    }

    @media (min-width: $screen-sm-min) {
        height: 133px;
        margin-bottom: auto;
        margin-right: 25px;
        padding-top: 12px;
        text-align: right;

        .primary {
            font-size: 28px;
        }
        .alt {
            letter-spacing: -2px;
        }
    }
}
.name-card {
    @include unlist();
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1;
    margin: 15px 25px 5px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
        letter-spacing: -5px;
        margin: 15px 25px;
        text-align: left;
    }
}
.first-name {
    color: lighten($burnt-wood, 10%);
    display: inline-block;
    font-size: 48px;
    margin-right: 0.2em;

    @media (min-width: $screen-sm-min) {
        display: block;
        margin-right: 0;
    }
}
.last-name {
    color: lighten($burnt-wood, 35%);
    display: inline-block;
    font-size: 48px;

    @media (min-width: $screen-sm-min) {
        display: block;
        font-size: 55px;
    }
}
.mid-page-ad {
    font-family: $cond-font;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0;
    p {
        line-height: 1.2;
        margin: 0;
        text-align: center;

        &:first-child {
            font-size: 23px;
        }
    }
    &.visible-xs p:first-child {
        font-size: 16px;
    }
    .alt {
        color: $res-fuchsia;
    }
    a, a:visited {
        color: $res-cyan;
        text-decoration: none;

        &:hover {
            color: darken($res-cyan, 30%);
        }
    }
}
.job-history-item {
    padding: 10px 20px 10px 0;
    margin: 0 0;

    &.disc {
        color: #666;
        padding: 20px 0 10px;
        text-align: center;
    }
    .date {
        font-weight: 400;
        padding: 2px 10px 0 0;
        text-align: right;
    }
    .start {
        color: $res-fuchsia;
        font-size: 25px;
        //font-style: italic;
    }
    .end {
        // font-family: $cond-font;
        font-size: 16px;
        font-weight: 600;
    }
    .org {
        color: lighten($burnt-wood, 10%);
        font-family: $cond-font;
        font-size: 25px;
        //font-style: italic;
        font-weight: 600;
        sup {
            font-size: 0.5em;
            top: -1em;
        }
    }
    .url {
        font-size: 18px;
        margin: 3px 0;
    }
    .duties {
        color: lighten($burnt-wood, 10%);
        font-size: 14px;
        line-height: 1.5;
    }
    .notes {
        text-align: justify;
        padding: 0 17px;

        &.disc {
            font-size: 12px;
            line-height: 1.2;
        }
    }
    p {
        margin: 0;
    }
    .asterisk {
        font-size: 11px;
    }
}
.job-history-col {
    border-right-width: 0!important;
    position: relative;

    .fes-cta {
        bottom: 5px;
        color: #666;
        font-size: 14px;
        padding-right: 30px;
        position: absolute;
        text-align: right;
        width: 100%;

        .link {
            font-size: 31.5px;
            font-weight: 600;
        }
    }
    @media (min-width: $screen-sm-min) {
        border-right-width: 1px!important;
    }
    @media print {
        height: 811px;
    }
}
.history-note {
    color: $burnt-wood;
    font-size: 12px;
}
.tek {
    @include unlist();
    @include clearfix();
    margin-top: 5px;
}
.tek-item {
    font-size: 11px;
    float: left;
    background-color: #ececec;
    border: solid 1px #ccc;
    color: #666;
    margin-left: 7px;
    margin-bottom: 4px;
    padding: 2px 5px 2px 2px;
    position: relative;
    left: -5px;

    &:before {
//        background-color: lighten($burnt-wood, 50%);
        background-color: rgba(darken($res-cyan, 25%), 0.6);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -4px;
        width: 4px;
    }
}
.bio-col {
    color: #666;
    float: right;
    margin-bottom: 15px;

    h5 {
        color: lighten($burnt-wood, 40%);
        font-family: $cond-font;
        font-size: 23px;
        //font-style: italic;
        font-weight: 400;
        margin: 10px 0;
    }
}
.bio-head {
    @include unlist();
    font-family: $cond-font;
    font-size: 20px;
    padding-left: 30px;
    text-transform: uppercase;

    & > li {
        float: left;
        margin: 10px;

        &:first-child {
            color: darken($res-cyan, 25%);
            margin-left: 0;
        }
        &.alt {
            color: $res-fuchsia;
        }
    }
}
.bio-block {
    padding-left: 30px;
    padding-right: 10px;

    p {
        color: lighten($burnt-wood, 10%);
        font-size: 14px;
        line-height: 1.3;
        margin: 10px 0;

        &.last {
            margin-bottom: 0;
        }
    }
}
.profile {
    strong {
        color: darken($res-fuchsia, 0%);
        font-family: 'Bangers', $cond-font;
        font-size: 20px;
        //font-style: italic;
        font-weight: normal;
    }
}
.skills {
    h6 {
        border-bottom: solid 1px #ccc;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        padding: 2px 0;
        text-transform: uppercase;
    }
}
.skills-list {
    @include unlist();

    & > li {
        border-bottom: dotted 1px #ccc;
        font-size: 12px;
        padding: 3px 0 3px 1px;
    }
}
.skills-disc {
    font-size: 12px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.edu {
    p {
        margin: 0;
    }
}
.copyright {
    font-size: 12px;
    text-align: center;
}
//

.bot {
    border-top: dotted 1px rgba(75,75,75,0.4);
}
.bor {
    border-right: dotted 1px rgba(75,75,75,0.4);
}
.bob {
    border-bottom: dotted 1px rgba(75,75,75,0.4);
}
.bol {
    border-left: dotted 1px rgba(75,75,75,0.4);
}
.row {
    &.dark {
        background-color: $burnt-wood;
        color: white;
    }
    @media print {
        // margin-left: 0;
        // margin-right: 0;
    }
}
.visible-print {
    @media print {
        display: inline!important;
    }
}
.modal-content {
    background-color: darken($burnt-wood, 5%);
    color: white;
    font-family: $cond-font;
}
.modal-header {
    color: $res-cyan;
    .alt {
        color: $res-fuchsia;
        margin-left: 8px;
    }
    .close {
        color: $res-fuchsia;
        font-size: 36px;
        opacity: 0.8;
        text-shadow: none;
    }
}
.modal-body {
    @include clearfix();
    background-color: white;
    color: $burnt-wood;

    .mini-form {
        float: right;
        label {
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            margin: 8px 8px 8px 4px;
            line-height: 1;
        }
    }
}

