# Compiled Files #
##################
*.pyc
*.egg*
*.bak
*.DS_Store


# IDE Files #
#############
*.kpf
.idea
\#*
.\#*
.project
.pydevproject
.settings
*.swp

# Front End #
################
node_modules
bower_components
*.css