section.sideboard
  header.sideboard-header
    | Insert Form Component Here.
  .sideboard-body
    ul.inline
      li
        article
          figure
            .img.splat
            figcaption
              | Iron Man Captain America
          p
            | Hawkeye black widow hulk spider-man jean gray wolverine.
