nav.top-bar.hide-for-small.fes-bar(data-topbar)
  h1.title-area Front End Stacked
  section.top-bar-section
    ul.right
      li.divider
      li
        a(href="#") Blog
      li.divider
      li
        a(href="#") Work
      li.divider
      li
        a(href="#") Experiments
      li.divider
      li
        a(href="#") Resume
nav.tab-bar.show-for-small Mobile Topnav
