{% extends 'layout.html' %}

{% block content %}

    <form action="/colors/add" method="POST">
        <input type="text" name="name" />
        <input type="text" name="hex" />
        <input type="submit" value="Submit" />
    </form>

    {% for c in colors %}
    <section class="swatch" style="background-color:{{ c.hex }};border-color:{{ c.hex }};">
        <a href="/colors/delete/{{ c.id }}" class="joyride-close-tip">&#215;</a>
        <footer style="color: {{ c.hex }}">
            {{ c.name }}
        </footer>
    </section>
    {% endfor %}

{% endblock%}
