{% extends 'base.html' %}

{% block content %}

<style>
    #foo {
        background-color: #fff;
        width: 230px;
    }
    #check {
        fill: none;
        stroke: goldenrod;
        stroke-width: 15;
    }
</style>

<div id="foo">
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<style>
</style>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="230" height="200">
    <path id="check" d="M 20,130 60,170 200,30" id="check" />
</svg>
</div>
{% endblock%}
