extends layout

block content
  .off-canvas-wrap
    .inner-wrap
      .welcome
        h2 Greetings and salutations!
          small Please excuse my dust!
      include modules/top-nav

      main
          ol.font-options
            li Normal, Body Copy (default)
            li.header-sm Slab, Small Headers
            li.header-lg Condensed, Large Headers
            li.strong Strong, Body Copy


  .svg
