.fes-bar {
    padding-left: 20px;
    padding-right: 20px;

    .title-area {
        color: white;
        font-size: 2em;
        font-family: "Roboto Condensed", sans-serif;
    }

    ul > li > a {
        font-weight: 600;
    }
}
